// bower:scss
// endbower

// Color theme: https://color.adobe.com/Copy-of-Avant-color-theme-4814328/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20Copy%20of%20Avant&mode=rgb&rgbvalues=0.054902,0.239216,0.34902,0.533333,0.65098,0.105882,0.94902,0.623529,0.0196078,0.94902,0.360784,0.0196078,0.85098,0.145098,0.145098&swatchOrder=0,1,2,3,4

/* FONTS */
@font-face {
  font-family: 'montserratbold';
  src: url('fonts/Montserrat-Bold-webfont.eot');
  src: url('fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Bold-webfont.woff') format('woff'),
    url('fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
    url('fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('fonts/Montserrat-Regular-webfont.eot');
  src: url('fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Regular-webfont.woff') format('woff'),
    url('fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
    url('fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont';
  src: url('fonts/myfont.eot?57850621');
  src: url('fonts/myfont.eot?57850621#iefix') format('embedded-opentype'),
    url('fonts/myfont.woff?57850621') format('woff'),
    url('fonts/myfont.ttf?57850621') format('truetype'),
    url('fonts/myfont.svg?57850621#myfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ICONS */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-phone:before { content: '\e800'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e801'; } /* '' */
.icon-cv:before { content: '\e802'; } /* '' */
.icon-github-circled-1:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-skype:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-pocket:before { content: '\e807'; } /* '' */
.icon-facebook-circled:before { content: '\e808'; } /* '' */
.icon-bug:before { content: '\e809'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-bitcoin:before { content: '\e80c'; } /* '' */
.icon-location-circled:before { content: '\e80d'; } /* '' */
.icon-left-circle:before { content: '\e80e'; } /* '' */
.icon-right-circle:before { content: '\e80f'; } /* '' */
.icon-twitter-circled-1:before { content: '\e811'; } /* '' */
.icon-website:before { content: '\e812'; } /* '' */
.icon-github:before { content: '\e816'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */


/* GENERAL  INTERFACE */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a {
  outline: 0;
}
body {
  font-family: montserratregular, sans-serif;
  padding-bottom: 20px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}
#socialShare {
  position: fixed;
  bottom: 8px;
  right: 25px;
  font-size: 30px;
  a {
    color: #0b2b3e;
    i.icon-facebook-circled:before,
    i.icon-twitter-circled-1:before {
      margin: 0;
    }
  }
}


/* HEADER AND NAVBAR */
.header {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.65);

    a.navbar-brand:link,
    a.navbar-brand:visited {
      .icon-pocket {
        color: #D92525;
      }
      color: #0E3D59;
    }
    a.navbar-brand:hover,
    a.navbar-brand:active {
      .icon-pocket {
        color: #a81e1e;
      }
      color: #0b2b3e;
    }
    .navbar-nav a:link,
    .navbar-nav a:visited {
      color: #0E3D59;
    }
    .navbar-nav a:hover,
    .navbar-nav a:active {
      color: #0b2b3e;
    }
    .dropdown-toggle {
      cursor: pointer;
    }
    sup {
      color: rgb(217, 37, 37);
    }

    /* Modals */
    .modal-content {
      a:link,
      a:visited {
        color: rgb(35, 82, 124);
      }

      a:hover,
      a:active {
        color: rgb(55, 116, 170);
      }
    }
    .navbar-right {
      padding-right: 95px;
    }
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/* MAIN PAGE */
#mainPage {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: url(../images/ReadFlows.png);
  background-size: cover;
  color: #000;

  a:link,
  a:visited{
    color: rgb(14, 61, 89);
    i {
      color: rgb(217, 37, 37);
    }
  }
  a:hover,
  a:active{
    color: rgb(14, 61, 89);
    text-decoration: none;
    i {
      color: rgb(168, 27, 27);
    }
  }
  p.lead {
    margin-top: 1.5em;
    text-align: right;
  }
  a.btn:link,
  a.btn:visited,
  a.btn:hover,
  a.btn:active {
    margin-left: 1em;
    font-size: 21px;
    padding: 14px 24px;
    color: #fff;
  }
}
#mainPageBlocks {
  background-color: rgba(255, 255, 255, 0.74902);
  border-radius: 6px;
  margin-left: 0px;
  margin-right: 0px;
  p {
    font-size: 20px;
  }
}


/* LOGIN PAGE */
#login {
  max-width: 40em;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  font-size: 21px;
  font-weight: 200;
  ul li i {
    color: rgb(217, 37, 37);
  }
}


/* TIMELINE GRAPH */
#TimelineGraphOuter {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: -1;

  #graph {
    width: 100%;
    padding: 0;
    margin: 0;

    #svgCanvas {
      background: rgba(255, 255, 255, 0.85);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin: 0 16px;

      .readblock path {
        fill-opacity:0.20;
        fill-rule:nonzero;
        stroke: none;
        marker:none;
        visibility:visible;
        enable-background:accumulate
      }
      .readblock rect {
        fill-opacity:0.85;
        fill-rule:nonzero;
        stroke: #fff;
        stroke-width: 0.5px;
        stroke-opacity: 1;
        marker:none;
        visibility:visible;
        enable-background:accumulate
      }
      .readblock .col1 {
        fill: #0E3D59;
      }
      .readblock .col2 {
        fill: #88A61B;
      }
      .readblock .col3 {
        fill: #F29F05;
      }
      .readblock .col4 {
        fill: #F25C05;
      }
      .readblock .col5 {
        fill: #D92525;
      }

      .dividers {
        line.divider {
          fill: none;
          stroke: #797979;
          stroke-width: 0.5px;
          stroke-dasharray: 1 2;
          shape-rendering: crispEdges;
        }
        line.month {
          fill: none;
          stroke: #ccc;
          stroke-width: 0.8px;
        }
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 1px;
        shape-rendering: crispEdges;
      }
      .axis text {
        font-family: montserratbold, sans-serif;
        font-size: 11px;
      }

      #addedAxisYear .tick line,
      #readAxisYear .tick line {
        stroke: #5d5d5d;
      }
      #addedAxisMonth .tick line,
      #readAxisMonth .tick line {
        stroke: #464646;
      }
      #addedAxisDay .tick line,
      #readAxisDay .tick line {
        stroke: #1d1d1d;
      }
    }
  }
}

#scrollButtons {
  position: absolute;
  bottom: 8px;
  left: 25px;
  font-size: 30px;
  a {
    color: #F25C05;
    font-family: "myfont";
    i.icon-left-circle:before,
    i.icon-right-circle:before {
      margin: 0;
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size: 10px;
  font-weight: normal;
  max-width: 22em;
  strong {
    display: block;
    border-bottom: 0.5px dotted #fff;
    margin-bottom: 0.3em;
  }
  em {
    display: block;
    text-align: right;
  }
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/* STATS VIZ */
div.statistics {
  p {
    font-size: 14px;
  }
}
div.patternsButton {
  position: relative;
  background: top left no-repeat url('../images/ReadingPatterns.png');
  height: 162px;

  a.patternsLink {
    padding: 1px 1em;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 0;
    display: block;
    background-color: rgba(57, 57, 57, 0.6);
  }
}
