// bower:scss
// endbower

// Color theme: https://color.adobe.com/Copy-of-Avant-color-theme-4814328/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20Copy%20of%20Avant&mode=rgb&rgbvalues=0.054902,0.239216,0.34902,0.533333,0.65098,0.105882,0.94902,0.623529,0.0196078,0.94902,0.360784,0.0196078,0.85098,0.145098,0.145098&swatchOrder=0,1,2,3,4

/* FONTS */
@font-face {
  font-family: 'montserratbold';
  src: url('fonts/Montserrat-Bold-webfont.eot');
  src: url('fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Bold-webfont.woff') format('woff'),
    url('fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
    url('fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('fonts/Montserrat-Regular-webfont.eot');
  src: url('fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Regular-webfont.woff') format('woff'),
    url('fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
    url('fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myfont';
  src: url('fonts/myfont.eot?57850621');
  src: url('fonts/myfont.eot?57850621#iefix') format('embedded-opentype'),
    url('fonts/myfont.woff?57850621') format('woff'),
    url('fonts/myfont.ttf?57850621') format('truetype'),
    url('fonts/myfont.svg?57850621#myfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "myfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-phone:before { content: '\e800'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e801'; } /* '' */
.icon-cv:before { content: '\e802'; } /* '' */
.icon-github-circled-1:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-skype:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-pocket:before { content: '\e807'; } /* '' */
.icon-facebook-circled:before { content: '\e808'; } /* '' */
.icon-bug:before { content: '\e809'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-bitcoin:before { content: '\e80c'; } /* '' */
.icon-location-circled:before { content: '\e80d'; } /* '' */
.icon-left-circle:before { content: '\e80e'; } /* '' */
.icon-right-circle:before { content: '\e80f'; } /* '' */
.icon-twitter-circled-1:before { content: '\e811'; } /* '' */
.icon-website:before { content: '\e812'; } /* '' */
.icon-github:before { content: '\e816'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
   outline: 0;
}

body {
  font-family: montserratregular, sans-serif;
  padding-bottom: 20px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* Custom page header */
.header {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.65);

    a.navbar-brand:link,
    a.navbar-brand:visited {
      .icon-pocket {
        color: #D92525;
      }
      color: #0E3D59;
    }
    a.navbar-brand:hover,
    a.navbar-brand:active {
      .icon-pocket {
        color: #a81e1e;
      }
      color: #0b2b3e;
    }
    .navbar-right a:link,
    .navbar-right a:visited {
      color: #0E3D59;
    }
    .navbar-right a:hover,
    .navbar-right a:active {
      color: #0b2b3e;
    }


    /* Modals */
    .modal-content {
      a:link,
      a:visited {
        color: rgb(35, 82, 124);
      }

      a:hover,
      a:active {
        color: rgb(55, 116, 170);
      }
    }
    .navbar-right {
      padding-right: 95px;
    }
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 0.75);

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
.login {
  max-width: 40em;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  font-size: 21px;
  font-weight: 200;
}

/* Scroll buttons */
#scrollButtons {
  position: absolute;
  bottom: 8px;
  left: 25px;
  font-size: 30px;
  a {
    color: #F25C05;
    font-family: "myfont";
    i.icon-left-circle:before,
    i.icon-right-circle:before {
      margin: 0;
    }
  }
}

/* Social share */
#socialShare {
  position: absolute;
  bottom: 8px;
  right: 25px;
  font-size: 30px;
  a {
    color: #0b2b3e;
    i.icon-facebook-circled:before,
    i.icon-twitter-circled-1:before {
      margin: 0;
    }
  }
}

/* Main graph */
#graphOuter {
  display: block;
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  width: 100%;
  height: 100%;

  padding-top: 60px;

  overflow-x: scroll;
  overflow-y: hidden;

  z-index: -1;

  #graph {
    width: 100%;
    padding: 0;
    margin: 0;
    svg {
      //background: rgba(204, 204, 204, 0.80);
      background: #fff;
    }
  }

  #svgCanvas {
    margin: 0 16px;

    .readblock path {
      //fill:#123652;
      fill-opacity:0.10;
      fill-rule:nonzero;
      stroke: none;
      marker:none;
      visibility:visible;
      enable-background:accumulate
    }
    .readblock rect {
      //fill:#123652;
      fill-opacity:0.85;
      fill-rule:nonzero;
      stroke: none;
//      stroke:#898989;
//      stroke-width:0.375;
//      stroke-miterlimit:4;
//      stroke-opacity:1;
//      stroke-dasharray:none;
//      stroke-dashoffset:0;
      marker:none;
      visibility:visible;
      enable-background:accumulate
    }

    .readblock .col1 {
      //fill:#00FF77;
      //fill: #CBDAD5;
      fill: #0E3D59;
    }
    .readblock .col2 {
      //fill:#FF4062;
      //fill: 89A7B1;
      fill: #88A61B;
    }
    .readblock .col3 {
      //fill:#F3FF00;
      //fill: 566981;
      fill: #F29F05;
    }
    .readblock .col4 {
      //fill:#0CC7DC;
      //fill: #3A415A;
      fill: #F25C05;
    }
    .readblock .col5 {
      //fill:#498385;
      //fill: #34344E;
      fill: #D92525;
    }

  }

  .dividers path {
    fill: none;
    stroke: #393939;
    shape-rendering: crispEdges;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: montserratbold, sans-serif;
    font-size: 11px;
  }

  #addedAxisYear .tick line,
  #readAxisYear .tick line {
    stroke: #5d5d5d;
  }
  #addedAxisMonth .tick line,
  #readAxisMonth .tick line {
    stroke: #464646;
  }
  #addedAxisDay .tick line,
  #readAxisDay .tick line {
    stroke: #1d1d1d;
  }
}


/* D3 tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
