// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-bottom: 20px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* Custom page header */
.header {
  .navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);

    a:link,
    a:visited {
      color: #000;
    }

    a:hover,
    a:active {
      color: #222;
    }
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 0.75);

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
.login {
  max-width: 40em;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  font-size: 21px;
  font-weight: 200;
}

/* Main graph */
#graphOuter {
  display: block;
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  width: 100%;
  height: 100%;

  padding-top: 60px;

  overflow-x: scroll;
  overflow-y: hidden;

  #graph {
    width: 100%;
    padding: 0;
    margin: 0;
    svg {
      background: rgba(204, 204, 204, 0.80);
    }
  }

  #svgCanvas {
    margin: 0 16px;

    .readblock {
      color:#000000;
      fill:#00508e;
      fill-opacity:0.26178014;
      fill-rule:nonzero;
      stroke:#898989;
      stroke-width:0.375;
      stroke-miterlimit:4;
      stroke-opacity:1;
      stroke-dasharray:none;
      stroke-dashoffset:0;
      marker:none;
      visibility:visible;
      enable-background:accumulate
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
