<!doctype html>
<html class="no-js" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pocket Reads</title>
    <meta name="description" content="A d3js data visualization of your pocket reads.">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="pocketvizApp">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid">
      <div class="header">

        <nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">PocketViz {{ username }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >

              <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="openModal('about')">About</a></li>
                <li><a href="" ng-click="openModal('credits')">Credits</a></li>
                <li><a href="" ng-click="openModal('privacy')">Privacy</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

          <div class="modal fade" id="navbarModal" tabindex="-1" role="dialog" aria-labelledby="modal dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <!--
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{ modalTitle }}</h4>
                </div>
                -->
                <div class="modal-body" ng-bind-html="modalBody"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div ng-view></div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <script src="scripts/modernizr.js"></script>
    <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>

    <!-- Stats. Change this to your preferred stats system. Piwik is recommended. -->
    <script src="scripts/piwik.js"></script>
    <!-- End Piwik Code -->

    <!-- Fork me on Github ribbon-->
    <a href="https://github.com/mjs2020/pocketviz">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="images/github.png" alt="Fork me on GitHub">
    </a>

    <!-- Share buttons -->
    <div id="socialShare">
      <a data-toggle="tooltip" data-placement="top" class="mytooltip" href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fplay.fm.to.it%2fpocketviz &t=Pocket+Reads+Visualization " title="Share me on Facebook"><i class="icon-facebook-circled"></i></a>
      <a data-toggle="tooltip" data-placement="top" class="mytooltip" href="https://twitter.com/share?url=http%3a%2f%2fplay.fm.to.it%2fpocketviz &text=Pocket+Reads+Visualization " title="Share me on Twitter"><i class="icon-twitter-circled-1"></i></a>
    </div>

  </body>
</html>
