<h2>Projects and tools that made this possible</h2>
<p>The background image is by <a href="https://www.flickr.com/photos/wikidave/7747767144">Dave Crosby on Flickr</a> Licenced as <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a></p>
<p>This project uses the <a href="http://getpocket.com/developer/">Pocket API</a>. <a href="http://www.getpocket.com">Pocket</a> is an awesome app to collect resources for later reading.</p>
<p>This project relies on the following frameworks and libraries:</p>
<ul>
  <li>D3js</li>
  <li>AngularJS</li>
  <li>RequireJS</li>
  <li>jQuery</li>
  <li>Twitter Bootstrap</li>
  <li>Grunt</li>
  <li>Bower</li>
</ul>
