<h2>Projects and tools that made this possible</h2>
<p>The background image is by <a href="https://www.flickr.com/photos/wikidave/7747767144">Dave Crosby on Flickr</a> Licenced as <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a></p>
<p>This project uses the <a href="http://getpocket.com/developer/">Pocket API</a>. <a href="http://www.getpocket.com">Pocket</a> is an awesome app to collect resources for later reading.</p>
<p>This project relies on the following frameworks and libraries:</p>
<ul>
  <li><a href="http://d3js.org">D3js</a></li>
  <li><a href="http://www.angularjs.org">AngularJS</a></li>
  <li><a href="http://requirejs.org/">RequireJS</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
  <li><a href="http://lodash.com/">LoDash</a></li>
  <li><a href="http://momentjs.com/">Momentjs</a></li>
  <li><a href="http://gruntjs.com/">Grunt</a></li>
  <li><a href="http://bower.io/">Bower</a></li>
</ul>
<p>Fonts and Icons:</p>
<ul>
  <li><a href="http://www.google.com/fonts/specimen/Montserrat">Montserrat</a> (by Julieta Ulanovsky, licence: SIL)</li>
  <li><a href="http://fontello.com/">Fontello</a>, using icons from <a href="http://www.entypo.com">Entypo</a> (by Daniel Bruce, licence: SIL), <a href="http://zocial.smcllns.com/">Zocial</a> (by Sam Collins, licence: MIT) and <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> (by Dave Gandi, licence: SIL)</li>
</ul>
