<div class="jumbotron">
  <h1>Pocket Reads Visualization</h1>
  <p class="lead">
    This app will load the list of your reads from <a href="https://getpocket.com" target="_blank">Pocket</a> and visualize them. To do so you need to authenticate with Pocket and grant the app access to your reading list.
  </p>
  <p><a class="btn btn-primary btn-large" href="" id="authBtn" ng-click="startAuth()">Authorize pocket app</a></p>
  <p class="lead">
    Don't have a Pocket account but curious about this viz? Checkout a <a href="#/demo">demo</a> with a sample dataset.
  </p>
</div>
