<h2>How this tool handles your privacy</h2>

<h3>Cookies</h3>
<p>This application uses cookies. The following cookies are stored on your computer:</p>
<ul>
  <li><strong>PHP Session ID</strong>: This is a session cookie from PHP.</li>
  <li><strong>accessToken and requestToken</strong>: These are tokens used to authenticate with the Pocket API. These are stored on your browser and not kept on the server.</li>
</ul>

<h3>Data</h3>
<p>
  The Pocket API does not support <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a> which means that requests cannot be made directly from your browser to the API.
  Instead, these reqests are run through a proxy. No personal data (such as your list of reads) is stored by the proxy.
</p>

<h3>Analytics</h3>
<p>
  I run some analytics to collect some usage statistics. Specifically an instance of <a href="piwik.org">Piwik</a>.
  If your browser uses the <a href="http://donottrack.us/">do-not-track</a> setting, your visit will not be tracked or collected.
</p>
<p>You can also opt out of tracking by following this <a href="http://stats.fm.to.it/index.php?module=CoreAdminHome&action=optOut&language=en">link</a> and ticking the opt-out checkbox. You may also consider using a browser extension such as <a href="https://www.eff.org/privacybadger">Privacy Badger</a> or <a href="https://www.ghostery.com/en/">Ghostery</a></p>

<h3>Other</h3>
<p>All scripts, images and fonts and resources are included locally and not served from third party CDNs.</p>
<p>
  The socual sharing icons used on the site are plain links to the social networks. No scripts or iframes are used in order to prevent
  the social networks from being able to track you if you're not interested in sharing. For more information I recommend reading
  <a href="http://ncase.me/SocialMinusSpying/">this website</a>.</p>
<p>No ads are used on this site.</p>
